.product-item {
  background-color: #fff8f0;
  border: 1px solid #e0c9a6;
  border-radius: 12px;
  padding: 1rem;
  margin: 0;
  box-shadow: 0 4px 8px rgba(120, 72, 0, 0.1);
  transition: transform 0.2s ease;
  max-width: 180px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Segoe UI', sans-serif;
}

.product-item:hover {
  transform: scale(1.03);
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(120, 72, 0, 0.15);
}

.product-imgage{ 
  width: 100%;
  height: 180px;
  border-radius: 8px;
  object-fit: contain;
  margin: 0 auto;
  margin: 0 auto 0.8rem;
  box-shadow: 0 2px 6px rgba(80, 40, 0, 0.36);
}

.product-title {
  font-size: 1.2rem;
  color: #8b4513; 
  margin-bottom: 0.5rem;
}

.product-item p {
  font-size: 0.9rem;
  color: #5a3e2b;
  margin: 0.3rem 0;
  text-decoration: none;
}

.product-item p:first-of-type {
  font-style: italic;
  color: #7a4e2d;
}

.product-item p:last-of-type {
  font-weight: bold;
  color: #a0522d;
}

/* Estilo para los botones o enlaces que vengan en 'children' */
.product-item .btn-link { 
    display: inline-block;
    margin-top: 10px;
    padding: 8px 15px;
    background-color: #a0522d;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}