/* AdminLayout.css */

.admin-layout {
    min-height: 100vh;
    padding-top: 60px; 
    background-color: #fcf8f3; 
    color: #3d3d3d;
    font-family: 'Segoe UI', sans-serif;
}

.admin-layout h2 {
    color: #6b3e26;
    margin-bottom: 30px;
}


.admin-content-wrapper {
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
    min-height: calc(100vh - 60px);
}


.admin-sidebar {
    width: 250px; 
    flex-shrink: 0; /* Evita que el sidebar se achique */
    background-color: #a0522d; 
    color: white;
    padding: 20px 0;
    position: sticky; 
    /* top: 0; */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}


.admin-sidebar nav a {
    display: block;
    padding: 12px 20px;
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: background-color 0.2s;
}

.admin-sidebar nav a:hover {
    background-color: #8b4513; 
}

.admin-sidebar nav a.active {
    background-color: #8b4513;
    font-weight: bold;
    border-left: 5px solid #fff8f0; 
}

.admin-main-content {
    flex-grow: 1;
    padding: 40px; 
    background-color: #fcf8f3;
}

.admin-main-content h2 {
    color: #a0522d; 
    margin-bottom: 30px;
    text-align: left;
}